
<h3>{{leyenda}}</h3>


<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
  <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso">
  <!-- <div class="input-group-append" id="button-addon4"> -->
  <span class="input-group-btn">
    <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(+5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
  <!-- </div> -->
</div>
